src/tests.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="tests">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="test" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="id"/>
              <xs:element type="xs:byte" name="id_p"/>
              <xs:element type="xs:string" name="laboratory_identifier"/>
              <xs:element type="xs:string" name="date"/>
              <xs:element  name="type">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="IgG|IgM"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>